div.tooltip {
    position: absolute;
    text-align: left;
    width: 150px;
    height: 100px;
    padding-left: 5px;
    font: 8px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
.measureLabel line{
    stroke-width: 0.5px;
    stroke: black;
}
.separatorRect{
    fill: rgb(0, 0, 0);
}
.locationRect{
    fill: rgb(255, 255, 255);
}
/*.locationRect:hover{*/
    /*fill: rgb(233, 233, 233);*/
    /*opacity: 1;*/
/*}*/
.cell{
    cursor:pointer;
}
#mapHeader{
    position: sticky;
    top: 0px;
    width: 2000px;
    background: white;
}
#discreteHeatMapDiv{
    top: 100px;
}
#clonedGroup{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}