div.tooltip {
    position: absolute;
    text-align: left;
    width: 150px;
    height: 100px;
    padding-left: 5px;
    font: 8px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
.measureLabel line{
    stroke-width: 0.5px;
    stroke: black;
}
.separatorRect{
    fill: rgb(0, 0, 0);
}
.locationRect{
    fill: rgb(255, 255, 255);
}
.locationRect:hover{
    fill: rgb(233, 233, 233);
    opacity: 1;
}
div.popup {
    position: absolute;
    border: 1px solid black;
    border: 1px solid rgba(0,0,0, 1);
    background-color: rgba(255,255,255, 1);
    border-radius: 6px;
    box-shadow: 5px 5px 5px #444;
}