#linePlotDiv {
    position: fixed;
    border: 1px solid black;
    border: 1px solid rgba(0,0,0, 1);
    background-color: rgba(255,255,255, 1);
    border-radius: 6px;
    box-shadow: 5px 5px 5px #444;
    z-index: 10;
    top: 10px;
    @import "https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.css";
}